#minesweeper-interface {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: left;

  padding-left: 0.5em;
  margin-left: 0.75em;
  margin-right: 1.5em;
  margin-bottom: 2em;
}

#minesweeper-header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#minesweeper-header #remaining-flags {
  margin-left: 1em;
}

#minesweeper-footer {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 1em;

  height: 1.5em;
}

#minesweeper-footer button {
  margin-right: 1em;
}

#minesweeper-board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#minesweeper-board .row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#minesweeper-board .col {
  width: 2.5em;
  height: 2.5em;
}

#minesweeper-board .col-content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5em;
  height: 2.5em;
}

#minesweeper-board .non-visible {
  background: #fcfcfc;
  color: black;
  cursor: pointer;
  outline: 0;

  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: #dddddd;
}

#minesweeper-board .visible {
  border: 0;
  background: #fcfcfc;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: white;

  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(240, 237, 240, 1);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(240, 237, 240, 1);
  box-shadow: inset 0px 1px 1px 0px rgba(240, 237, 240, 1);
}
